e<nav>
  <div id="jCrumbs" class="breadCrumb module">
    <ul>
      <li>
        <a href="#"><i class="icon-home"></i> 투자자별 요약</a>
      </li>
    </ul>
  </div>
</nav>
<h2 class="heading">투자자 수익률 분석</h2>
<!-- 종목 수익률 요약 -->
<div class="row-fluid">
  <div class="span12">
    <h4 class="heading">벤자민 그레이엄</h4>
    <table class="table table-striped" data-provides="rowlink">
      <thead>
      <tr>
        <th>종목</th>
        <th>종목코드</th>
        <th>진입시점</th>
        <th>이탈시점</th>
        <th>진입종가</th>
        <th>이탈종가</th>
        <th>수익률</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>엔씨소프트</td>
        <td>036570</td>
        <td>2008-08-29</td>
        <td>2012-11-20</td>
        <td>52,200</td>
        <td>166,000</td>
        <td><span class="high"><i class="icon-arrow-up"></i>200%</span></td>
      </tr>
      <tr>
        <td>엔씨소프트</td>
        <td>036570</td>
        <td>2008-08-29</td>
        <td>2012-11-20</td>
        <td>52,200</td>
        <td>166,000</td>
        <td><span class="low"><i class="icon-arrow-down"></i>200%</span></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- 종목 수익률 요약 -->
<div class="row-fluid">
  <div class="span12">
    <h4 class="heading">벤자민 그레이엄</h4>
    <table class="table table-striped" data-provides="rowlink">
      <thead>
      <tr>
        <th>종목</th>
        <th>종목코드</th>
        <th>진입시점</th>
        <th>이탈시점</th>
        <th>진입종가</th>
        <th>이탈종가</th>
        <th>수익률</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>엔씨소프트</td>
        <td>036570</td>
        <td>2008-08-29</td>
        <td>2012-11-20</td>
        <td>52,200</td>
        <td>166,000</td>
        <td><span class="high"><i class="icon-arrow-up"></i>200%</span></td>
      </tr>
      <tr>
        <td>엔씨소프트</td>
        <td>036570</td>
        <td>2008-08-29</td>
        <td>2012-11-20</td>
        <td>52,200</td>
        <td>166,000</td>
        <td><span class="low"><i class="icon-arrow-down"></i>200%</span></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- 종목 수익률 요약 -->
<div class="row-fluid">
  <div class="span12">
    <h4 class="heading">벤자민 그레이엄</h4>
    <table class="table table-striped" data-provides="rowlink">
      <thead>
      <tr>
        <th>종목</th>
        <th>종목코드</th>
        <th>진입시점</th>
        <th>이탈시점</th>
        <th>진입종가</th>
        <th>이탈종가</th>
        <th>수익률</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>엔씨소프트</td>
        <td>036570</td>
        <td>2008-08-29</td>
        <td>2012-11-20</td>
        <td>52,200</td>
        <td>166,000</td>
        <td><span class="high"><i class="icon-arrow-up"></i>200%</span></td>
      </tr>
      <tr>
        <td>엔씨소프트</td>
        <td>036570</td>
        <td>2008-08-29</td>
        <td>2012-11-20</td>
        <td>52,200</td>
        <td>166,000</td>
        <td><span class="low"><i class="icon-arrow-down"></i>200%</span></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>